
.notification{
  padding: 1rem;
  font-size: large;
  border-style: solid;
  border-width: 1rem;
  border-radius: 1rem;
}

.notification.success{
  color:green;
  border-color: green;
}

.notification.error{
  color:red;
  border-color: red;
}

.blog{
  padding-top: 10px;
  padding-left: 2px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
}